
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoneerProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/Toasty/toasty.css" />
</head>
<body id="body" >  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- CUT FROM HERE -->
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container"> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1"> 
                        <li class="nav-item">
                            <a class="nav-link text-dark"  onclick="call_Action('Home/Cover')">صفحة الرئيسية</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
     <div class="container">
        <main role="main" class="pb-3"> 
               @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/lib/Toasty/toasty.js"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>

<div id="mydiv">
<script>

    var snd = new Audio();
    function playsound(url) {

    if (snd.paused == false) 
        snd.pause();//pause if playing
            
        snd.src = url;
        snd.play();
    }
</script>

</div> 