
@{
    Layout = "~/Views/Shared/_Layoutnull.cshtml";
} 
 
<!-- Header -->
<header id="header" style="margin:4%;" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>مرحبا بكم في تعلم الاصوات</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->

<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container"> 
                <div class="text-container"> 
                    <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                        <div class="col-sm-4">
                        <div class="card" onclick="call_Action('Home/Index')" >
                            <img class='card-img-top'  src="~/Image/imageglobal/r7.jpg" alt='Card image cap'>
                            <div class="card-body text-center" >
                            <h5 class="card-title">اصوات حروف</h5> 
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="card" onclick="call_Action('Home/Section2')" >
                            <img class='card-img-top'   src="~/Image/imageglobal/HMI.jpg" alt='Card image cap'>
                            <div class="card-body  text-center">
                            <h5 class="card-title" >اصوات حيوان</h5> 
                            </div>
                        </div>
                        </div>
                              
                        <div class="col-sm-4">
                        <div class="card" onclick="call_Action('Home/Section3')" >
                            <img class='card-img-top'   src="~/Image/imageglobal/ua.jpg" alt='Card image cap'>
                            <div class="card-body  text-center" >
                            <h5 class="card-title">اصوات اهلي</h5> 
                            </div>
                        </div>
                        </div>
                    </div>   
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
</div>
