@{
    ViewData["Title"] = "Home Page";
} 
<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>تعلم الحروف العربية والانكليزية</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Terms Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3 class="text-right">الحروف العربية</h3>  
                           <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center" onclick="playsound('/section1/alf.mp3')">
                                    <h5 class="card-title">أ</h5>
                                    <a href="https://youtube.com/watch?v=8diOPKeqZVw&feature=share" target="_blank" class="btn btn-primary text-center">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/baa.mp3')">ب</h5>
                                    <a href="https://youtube.com/watch?v=-_pJH2fygv4&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" onclick="playsound('/section1/taa.mp3')">
                                    <h5 class="card-title">ت</h5>
                                    <a href="https://youtube.com/watch?v=B9Bn7f2qOMM&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/thaa.mp3')">ث</h5>
                                    <a href="https://youtube.com/watch?v=thWfzEuDuhs&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div> 
                              
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/jem.mp3')">ج</h5>
                                    <a href="https://youtube.com/watch?v=4ZFWVZ5j1RE&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/hhaa.mp3')">ح</h5>
                                    <a href="https://youtube.com/watch?v=cB1dvKt8oyY&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                           </div>
                           
                           <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                              
                              <div class="col-sm-2">
                                <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title " onclick="playsound('/section1/kaa.mp3')">خ</h5>
                                    <a href="https://youtube.com/watch?v=tHR65MpfTlo&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card ">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/dal.mp3')">د</h5>
                                    <a href="https://youtube.com/watch?v=WY9k8rzOx-k&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/thal.mp3')">ذ</h5>
                                    <a href="https://youtube.com/watch?v=5WRuMo5gDdU&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/raa.mp3')">ر</h5>
                                    <a href="https://youtube.com/watch?v=ZCTo3FmRYkM&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/zaa.mp3')">ز</h5>
                                    <a href="https://youtube.com/watch?v=ijh5BExcxSk&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                               <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/ceen.mp3')">س</h5>
                                    <a href="https://youtube.com/watch?v=Yb9BsGxXbuI&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                            </div> 
                           
                           <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/shen.mp3')">ش</h5>
                                    <a href="https://youtube.com/watch?v=8fZbCuzhoU4&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center" >
                                    <h5 class="card-title " onclick="playsound('/section1/saad.mp3')">ص</h5>
                                    <a href="https://youtube.com/watch?v=1DlCPcBSCX0&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/thad.mp3')">ض</h5>
                                    <a href="https://youtube.com/watch?v=z0fCtkJfXGw&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/dta.mp3')">ط</h5>
                                    <a href="https://youtube.com/watch?v=-xNkj6FqXa0&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                               <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/dthaa.mp3')">ظ</h5>
                                    <a href="https://youtube.com/watch?v=OqMoN1wso2U&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/aeen.mp3')">ع</h5>
                                    <a href="https://youtube.com/watch?v=GZjUKMmyda4&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                           <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;"> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/gaa.mp3')">غ</h5>
                                    <a href="https://youtube.com/watch?v=t9h-6sHbnNo&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/faa.mp3')">ف</h5>
                                    <a href="https://youtube.com/watch?v=5LovNSAxaFI&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/kaf.mp3')">ق</h5>
                                    <a href="https://youtube.com/watch?v=pXt4gX73jsc&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/kaaf.mp3')">ك</h5>
                                    <a href="https://youtube.com/watch?v=hyRglHg3u8M&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/laam.mp3')">ل</h5>
                                    <a href="https://youtube.com/watch?v=3x0VL_Ycc7E&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body text-center">
                                    <h5 class="card-title " onclick="playsound('/section1/mem.mp3')">م</h5>
                                    <a href="https://youtube.com/watch?v=DJw8VgNgzGw&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                          </div>
                          
                           <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/noon.mp3')">ن</h5>
                                    <a href="https://youtube.com/watch?v=zb05wEU7PXQ&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/haa.mp3')">هـ</h5>
                                    <a href="https://youtube.com/watch?v=yL_J8gexwXw&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/oo.mp3')">و</h5>
                                    <a href="https://youtube.com/watch?v=nxEv3LwtBpM&feature=share" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center">
                                    <h5 class="card-title" onclick="playsound('/section1/yia.mp3')">ي</h5>
                                    <a href="https://youtube.com/watch?v=hxOmtBhTcwo&feature=share"  target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                </div>
                              </div> 
                            </div>
                         
                    <h3 class="text-right" style="margin-top: 10%;">الحروف الانكليزية</h3>
                     <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/A.m4a')">A-a</h5>
                                    <a href="https://youtu.be/y8pZ3F8KB_Y" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/b.m4a')">B-b</h5>
                                    <a href="https://youtu.be/F7WyPqms5x0" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/c.m4a')">C-c</h5>
                                    <a href="https://youtu.be/LnDxp5QNxmA" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/d.m4a')">D-d</h5>
                                    <a href="https://youtu.be/qdJwtaaTfb4"  target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/e.m4a')">E-e</h5>
                                    <a href="https://youtu.be/PMDpfPky054"  target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/f.m4a')">F-f</h5>
                                    <a href="https://youtu.be/CaywS_FK4wE"  target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                             
                    </div> 
                     <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                          <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/g.m4a')">G-g</h5>
                                    <a href="https://youtu.be/O96r1dZ4Nqg"  target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/h.m4a')">H-h</h5>
                                    <a href="https://youtu.be/ndf_-FJsPVk" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/i.m4a')">I-i</h5>
                                    <a href="https://youtu.be/yZbNMjwgEN8" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/j.m4a')">J-j</h5>
                                    <a href="https://youtu.be/GkcqRmdwKlE" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/k.m4a')">K-k</h5>
                                    <a href="https://youtu.be/DHRQXGTSvw0" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/l.m4a')">L-l</h5>
                                    <a href="https://youtu.be/YASqLUId4n8" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                             
                    </div>  
                    <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                         <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/m.m4a')">M-m</h5>
                                    <a href="https://youtu.be/xUOc-UwTVBA" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/n.m4a')">N-n</h5>
                                    <a href="https://youtu.be/LYyK7KurvMs" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/o.m4a')">O-o</h5>
                                    <a href="https://youtu.be/rpvtKnqu7-4" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/p.m4a')">P-p</h5>
                                    <a href="https://youtu.be/3724uXedg0A" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/q.m4a')">Q-q</h5>
                                    <a href="https://youtu.be/-k4oiVaekT0" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/r.m4a')">R-r</h5>
                                    <a href="https://youtu.be/zQ7vvPa4pAk" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                             
                    </div> 
                     <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                          <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/s.m4a')">S-s</h5>
                                    <a href="https://youtu.be/McACiO5dwGM" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/t.m4a')">T-t</h5>
                                    <a href="https://youtu.be/4PhbUhrI4KE" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/u.m4a')">U-u</h5>
                                    <a href="https://youtu.be/qmWTMNhtY9Q" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/v.m4a')">V-v</h5>
                                    <a href="https://youtu.be/NkniyCUWeF4" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/w.m4a')">W-w</h5>
                                    <a href="https://youtu.be/8ovG9ptOjBw" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/x.m4a')">X-x</h5>
                                    <a href="https://youtu.be/RhA10WVTmHw" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                    </div>  
                      <div class="row" style="width:100%;  margin-bottom:3%;   margin-top: 1%;">
                          
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/y.m4a')">Y-y</h5>
                                    <a href="https://youtu.be/RJH2oMKPeaw" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                              <div class="col-sm-2">
                                <div class="card">
                                  <div class="card-body  text-center" >
                                    <h5 class="card-title" onclick="playsound('/section1/z.m4a')">Z-z</h5>
                                    <a href="https://youtu.be/f-iL7k5jhCI" target="_blank" class="btn btn-primary">عرض فيديو</a>
                                  </div>
                                 </div>
                              </div> 
                      </div> 
                </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic -->
</div>
<!-- end of terms content -->

<div id="mydiv">
<script>

    var snd = new Audio();
    function playsound(url) {

    if (snd.paused == false) 
        snd.pause();//pause if playing
            
        snd.src = url;
        snd.play();
    }
</script>

</div> 